---
import { model } from '../utils/openAI'
import Logo from './Logo.astro'
import Themetoggle from './Themetoggle.astro'
---

<header>
  <div class="fb items-center">
    <Logo />
    <Themetoggle />
  </div>
  <div class="fi mt-2">
    <span class="gpt-title">民用机场环境监控系统</span>
    <span class="gpt-subtitle">保护区数据查询AI</span>
  </div>
  <p>此系统所使用所有数据均为构造虚构数据，请勿真实使用；AI有可能生成不真实内容，请注意</p>
</header>
